<h1>Productos</h1>
  {{#each products}}
<div class="list-group">
  <ul>
    <li class="list-group-item list-group-item-action active">título: {{title}}</li>
    <liclass="list-group-item list-group-item-action active">descripción: {{description}}</liclass=>
  </ul>
  </div>
  {{/each}}