<div class="container">
  <h2>Bienvenidos</h2>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad ex obcaecati, totam eum recusandae asperiores nesciunt excepturi nihil accusamus laboriosam porro necessitatibus explicabo, enim ipsa reiciendis similique, nisi aliquid eveniet?</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti illo modi ducimus vitae laboriosam aut quo pariatur autem nostrum deleniti et praesentium, rerum maiores aperiam sunt eveniet inventore perspiciatis debitis?</p>
</div>