
<div class="container">
    <h2>Login</h2>
<div class="mb-3">
<form caction="/auth/login" method="POST">
    <input  class="form-control" type="email" name="email" placeholder="email" />
    <input class="form-control" type="password" name="password" placeholder="contraseña" />
    <button type="submit" value="login">Ingresar</button>
</form>
<a href="/auth/register"> Ya tengo cuenta...</a>
</div>
</div>