<section className="box container-fluid">
            <div className="box__card card shadow-lg p-3 mb-5 bg-body rounded">
                <div className="card-body">
                    <div className="box__card__body-img mb-2">
                    </div>
                    <div className="box__card__body-pa mb-2">
                        <h4>Inicio de sesión</h4>
                    </div>
<div class="container">
    <h2>Login</h2>
<div class="mb-3">
<form caction="/auth/login" method="POST">
    <input  class="form-control" type="email" name="email" placeholder="email" />
    <input class="form-control" type="password" name="password" placeholder="contraseña" />
    <button type="submit" value="login">Ingresar</button>
</form>
<a href="/auth/register"> Registrarme...</a>
</div>
</div>
</div>
</div>
</section>