<div class="container">
    <h2>Login</h2>
<form action="/auth/register" method="POST">
    <input type="text" name="firstName" placeholder="nombre" />
    <input type="text" name="lastname" placeholder="apellido" />
    <input type="text" name="email" placeholder="email" />
    <input type="text" name="password" placeholder="contraseña" />

</form>
<a href="/auth/login"> Ya tengo cuenta...</a>
</div>